@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--ot-white: #ffffff;
	--ot-bg: #000906;
	--ot-border: #ebebe6;

	--ot-yellow-50: #fffeeb;
	--ot-yellow-100: #fffbc6;
	--ot-yellow-200: #fff788;
	--ot-yellow-300: #ffed4a;
	--ot-yellow-400: #ffde20;
	--ot-yellow-500-main: #f7bd06;
	--ot-yellow-600: #dd9402;
	--ot-yellow-700: #b76a06;
	--ot-yellow-800: #94510c;
	--ot-yellow-900: #7a430d;
	--ot-yellow-950: #462302;
    
	--ot-gray-50: #f6f6f6;
	--ot-gray-100: #e7e7e7;
	--ot-gray-200: #d1d1d1;
	--ot-gray-300: #b0b0b0;
	--ot-gray-400: #888888;
	--ot-gray-500: #6d6d6d;
	--ot-gray-600-main: #606060;
	--ot-gray-700: #4f4f4f;
	--ot-gray-800: #454545;
	--ot-gray-900: #3d3d3d;
	--ot-gray-950: #262626;
}


* {
    margin: 0;
    box-sizing: border-box;
}

[role=button], button {
    text-align: left;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--ot-gray-900);
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4{
    font-family: "Kanit", sans-serif;
}

h2 {
    @apply text-3xl font-medium;
    color: var(--ot-bg);
    line-height: 130%;
    
}

h3{
    @apply font-medium;
}

h4 {
    @apply font-semibold text-2xl;
}

p {
    color: var(--ot-bg);
}

a {
    display: inline-block;
    text-decoration: none;
    max-width: max-content;
}

.section-bottom{
    margin-bottom: 96px !important;
}


/* smdev */
.smdev_container {
    max-width: 1110px;
    margin: 0 auto;
}

@media (max-width: 1130px){
    .smdev_container{
        padding-left: 12px;
        padding-right: 12px;
    }
}

.dashed-left-border {
    border-left: 5px dashed transparent; /* Definindo o estilo da borda */
    border-image: linear-gradient(to bottom, black 10%, transparent 10%) 1; /* Criando o padrão de traços */
}


/* ========= hero section */
.heroSection {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 16px;
    background-position: center;
}

/* ======== accordion list ============ */
.accordionContent,
.accordionContent_faq{
    max-height: 0;
    overflow: hidden;
    transition: all 0.1s ease;
}

.accordionContent.open,
.accordionContent_faq.open {
    max-height: max-content !important;
}

.accordionIcon.open,
.accordionIcon_faq.open{
    transition: transform 0.2s ease;
}

.accordionIcon.open{
    transform: rotate(90deg);
}

.accordionIcon.close,
.accordionIcon_faq.close{
    transition: transform 0.2s ease;
}


/* ========  ============ */
