<!-- Additional Elements -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>Fique por dentro</h2>
        <p>Quer ser o primeiro a saber quando tenho novidades relacionadas ao projeto? Deixe seu email abaixo, prometo
            não usar seu email a não ser para enviar mensagens relevantes sobre o Dose de Telemetria.</p>
        <div class="index align-left">
            <!-- Form -->
            <section>
                <div class="content">
                    <form name="avise" netlify>
                        <div class="fields">
                            <div class="field half">
                                <label for="name">Nome</label>
                                <input type="text" name="name" id="name" value="" />
                            </div>
                            <div class="field half">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" value="" />
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" name="submit" id="submit" value="Me avise das novidades!" /></li>
                        </ul>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>